<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
<header>
</header>
{% block content %}
<div class="block_menu">
    <div class="authorisation">
        {% if user.is_authenticated %}
        <a href="{% url 'main:logout' %}">Выход</a>
        {% else %}
        <a href="{% url 'main:login' %}">Авторизация или Вход</a>
        {% endif %}
        <a href="{% url 'main:register' %}">Регистрация</a>
    </div>
</div>
{% endblock %}
</body>
</html>
